<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header__logo">
            <img src="/images/logo.jpg" alt="logo">
        </div>
        <button><i class="fa-solid fa-bars"></i></button>
        <nav class="home__header__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <section class="home__section--banner">
            <img src="/images/img-banner.jpg" alt="banner">
        </section>
        <section class="home__section--products">
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo--sticker" src="/images/img-descuento.png" alt="descuento">
                    <img class="home__section__product__photo--primary" src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a class="home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class="home__section__product--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a class="home__section__product--show" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo--sticker" src="/images/img-gratis.png" alt="gratis">
                    <img class="home__section__product__photo--primary" src="/images/img-pdto-2.jpg" alt="producto 2">
                    <a class="home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class="home__section__product--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a class="home__section__product--show" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo--sticker" src="/images/img-nuevo.png" alt="nuevo">
                    <img class="home__section__product__photo--primary" src="/images/img-pdto-3.jpg" alt="producto 3">
                    <a class="home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class="home__section__product--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a class="home__section__product--show" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo--sticker" src="/images/img-descuento.png" alt="descuento">
                    <img class="home__section__product__photo--primary" src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a class="home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class="home__section__product--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a class="home__section__product--show" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo--sticker" src="/images/img-gratis.png" alt="gratis">
                    <img class="home__section__product__photo--primary" src="/images/img-pdto-2.jpg" alt="producto 2">
                    <a class="home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class="home__section__product--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a class="home__section__product--show" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="home__section__product__photo--sticker" src="/images/img-nuevo.png" alt="nuevo">
                    <img class="home__section__product__photo--primary" src="/images/img-pdto-3.jpg" alt="producto 3">
                    <a class="home__section__product__photo--zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__section__product--title">Lorem, ipsum dolor.</h2>
                <p class="home__section__product--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a class="home__section__product--show" href="">ver más</a>
            </article>
        </section>
    </main>
    <footer class="home__footer">
        <nav class="home__footer__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>