<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div>
            <img src="/images/logo.jpg" alt="logo">
        </div>
        <button><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <div>
                    <img src="/images/img-descuento.png" alt="descuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>